.bg-img-section {
  background: url("/images/1715092596161.webp") center / cover no-repeat;
}

.col-left {
  color: white;
  background-color: #252525;
  opacity: .9;
  display: flex;
  padding: 10% 8%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  .col-left {
    color: white;
    background-color: #252525;
    opacity: .9;
    display: flex;
    padding: 40% 20%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

.position-bg-section {
  background-position: 70% 80%;
}

/* sdfasdf */

